    /*  IMPORTS  */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0,9);
    --dark-500: rgb(31, 31, 31, 0,5);
    --dark-300: rgb(31, 31, 31, 0,3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}


            /*  NORMALIZER  */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

ul, ol {
    list-style-type: none;
}

img {
    width: 100%
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--alternative-font);
    font-style: normal;
}

main, footer {
    padding: 0 150px;
}


            /*  STYLES  */

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 110px;
    background-color: var(--dark-bg-solid);
}

.navbar__img {
    max-width: 260px;
}

.navbar .navbar__menu {
    display: flex;
    gap: var(--spacing-48);
    align-items: center;
}

.navbar .navbar__menu a {
    color: var(--light-font-solid);
    text-decoration: none;
    font-size: var(--font-small);
}

.navbar .navbar__menu img {
    max-width: 25px;
}

/* banner */

.banner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: var(--spacing-128);
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1; /* Coloca el pseudoelemento detrás del contenido */
    background-image: url(../img/funkos-banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
}

.banner__content {
    z-index: 1; 
    color: var(--light-font-solid);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px
}

.banner__content p {
    font-family: var(--alternative-font);
}

.banner__title, .main__card__title {
    font-size: var(--font-xlarge);
    font-weight: 500;
}

.banner__description, .main__card__description {
    font-size: var(--font-small);
    font-weight: 300;
}

.banner__link, .main__card__link {
    font-family: var(--base-font);
    background-color: var(--light-bg-solid);
    font-size: var(--font-medium);
    font-weight: 300;
    color: var(--dark-solid);
    padding: 10px 50px;
    border-radius: 50px;
    margin: 20px 0
}

.banner__link:hover {
    background-color: rgb(167, 167, 167);
    /* transition: all; */
    transition: all .2s ease-in-out;
}

/* Main Cards */

.main__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 600px;
}

.main__card__reverse {
    display: flex;
    flex-direction: row-reverse;
}

.main__card__reverse .main__card__content {
    display: flex;
    justify-content: center;
}

.main__card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-28);
    width: 60%;
}

.main__card__title {
    font-size: var(--font-display);
}

.main__card__description {
    font-size: var(--font-large);
}

.main__card__link {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    max-width: 250px;
}

.main__card__content hr {
    border: solid 2px var(--primary-solid);
}

/* Slider y Cards */

.news, .main__shop {
    text-transform: uppercase;
}

.news__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.news__slider {
    margin: var(--spacing-68) 0;
    display: flex;
    flex-direction: row;
}

.news .slider__card {
    display: flex;
    flex-direction: column;
    width: 360px;
    position: relative;
}

.slider__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.news .new__cartel {
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: 5px 10px;
    display: inline;
    position: absolute;
    right: 0;
}

.slider__card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--spacing-28);
    font-family: var(--base-font);
}

.slider__card__content .category {
    font-size: var(--font-xsmall);
}

.slider__card__content .title {
    font-size: var(--font-small);
    font-weight: 700;
}

.slider__card__content .price {
    font-size: var(--font-small);
    font-weight: 400;
}

.slider__card__content .medio-de-pago {
    font-size: 12px;
    font-weight: 700;
    color: var(--secondary-solid);
}

/* Footer */

#footer {
    height: 250px;
    width: 100%;
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: flex-end;
}

.links__pages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__logo {
    width: 150px;
    display: inline-block;
}

.licence {
    text-align: center;
}


/* Shop Page */

#shop {
    padding-top:var(--spacing-36);
    display: flex;
}

.shop__filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 170px;
    font-family: var(--base-font);
}

.shop__filters div {
    display: flex;
    flex-direction: column;
}

.shop__filters label, 
.filters__price__title,
.filters__checks__title {
    text-transform: uppercase;
    font-size: var(--font-small);
    font-weight: 500;
    padding-bottom: 5px;
}

.shop__filters input,
.shop__filters select {
    font-family: var(--base-font);
    height: 25px;
    padding: 0 3px;
    border-radius: 4px;
    border-style: solid;
}

.filters__price div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}

.filters__price label {
    font-size: var(--font-xsmall);
}

.filters__price input {
    width: 43px;
    text-align: center;
}

.filters__checks div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.filters__checks label {
    padding-top: 2px;
    font-size: var(--font-xsmall);
}

.main__shop .news__slider {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__shop .slider__card {
    max-width: 290px;
}